[buildout]
parts =
    client1
    zopepy

# Change the number here to change the version of Plone being used
extends = 
    http://download.zope.org/Zope2/index/2.12.18/versions.cfg
    http://dist.plone.org/release/4.0.7/versions.cfg
# there's no KGS for plone.app.caching 1.0?
    http://good-py.appspot.com/release/plone.app.caching/1.0b2
    http://good-py.appspot.com/release/plone.app.theming/1.0b4
versions = versions

# Add additional egg download sources here. dist.plone.org contains archives
# of Plone packages.
find-links =
    http://dist.plone.org/release/4.0.7
    http://dist.plone.org/thirdparty
# Needed for optional eea.cache
#    http://eggrepo.eea.europa.eu/simple

# Add additional eggs here
eggs =
    relstorage
    python-Levenshtein
    feedparser
    
# Reference any eggs you are developing here, one per line
# e.g.: develop = src/my.package
develop =

[client1]
# For more information on this step and configuration options see:
# http://pypi.python.org/pypi/plone.recipe.zope2instance
recipe = plone.recipe.zope2instance
user = admin:admin
http-address = 8081
blob-storage = var/blobstorage
shared-blob = on
debug-mode = off
rel-storage =
    type postgres
    db %db%
    user %dbuser%
    passwd %dbpassword%

# If you want Zope to know about any additional eggs, list them here.
# This should include any development eggs you listed in develop-eggs above,
# e.g. eggs = Plone my.package
eggs =
    Plone
    ${buildout:eggs}

# If you want to register ZCML slugs for any packages, list them here.
# e.g. zcml = my.package my.other.package
zcml =

[zopepy]
# For more information on this step and configuration options see:
# http://pypi.python.org/pypi/zc.recipe.egg
recipe = zc.recipe.egg
eggs = ${client1:eggs}
interpreter = zopepy
scripts = zopepy

